/*
TODO: Desktop (Laptop L 1440)
 - add gap between header and top of page
 - inline search input and search button and center
 - two column layout: left: hero, status (row no wrap), daily forecast (row no wrap); right: hourly forecast (column)
*/

:host {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-200);
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
  padding-bottom: var(--spacing-600);
  /* margin-bottom: var(--spacing-600); */
  /* margin: var(--spacing-200); */
  /* min-width: 343px;
  max-width: 720px; */
  /* padding: var(--spacing-600); */
  /* padding-top: var(--spacing-600);
  padding-right: var(--spacing-1400);
  padding-left: var(--spacing-1400);
  padding-bottom: var(--spacing-1000); */
}

.header {
  height: 33px;
  width: 100%;
  max-width: var(--desktop-breakpoint);
  display: flex;
  justify-content: space-between;
}

.headline {
  margin-top: var(--spacing-600);
  margin-bottom: var(--spacing-600);
  text-align: center;
  width: 95%;
}

.main {
  display: flex;
  flex-direction: column;
}

.primary-button {
  padding: var(--spacing-200) var(--spacing-300);
  border: none;
  background-color: var(--blue-500);
  color: var(--neutral-0);

  &:hover {
    background-color: var(--blue-700);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--blue-500);
    outline: 3px solid var(--neutral-900);
    outline-offset: -5px;
  }
}

.search-input {
  padding: var(--spacing-200) var(--spacing-300) var(--spacing-200)
    calc(var(--spacing-300) + 20px + var(--spacing-200));
  background-color: var(--neutral-800);
  background-image: url('/weather/assets/images/icon-search.svg');
  background-repeat: no-repeat;
  background-position: var(--spacing-300) center;
  background-size: 20px;
  color: var(--neutral-200);
  border: none;
  width: 100%;

  &:hover {
    background-color: var(--neutral-700);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--neutral-800);
    outline: 2px solid var(--neutral-0);
    outline-offset: 3px;
    cursor: text;
  }

  &::placeholder {
    color: var(--neutral-200);
  }

  &::-webkit-input-placeholder {
    color: var(--neutral-200);
  }

  &::-ms-input-placeholder {
    color: var(--neutral-200);
  }
}

.dropdown-button {
  background-color: transparent;
  color: var(--neutral-0);
  padding: var(--spacing-125) var(--spacing-100);
  padding-right: calc(var(--spacing-100) + 20px + var(--spacing-100));
  border: none;
  border-radius: var(--radius-8);
  text-align: left;

  &.trigger {
    background-image: url('/weather/assets/images/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position: right var(--spacing-150) center;
    background-size: 12px 18px;
    width: fit-content;
  }

  &.selected {
    background-image: url('/weather/assets/images/icon-checkmark.svg');
    background-repeat: no-repeat;
    background-position: right var(--spacing-100) center;
    background-size: 14px 17px;
  }

  &:hover,
  &.trigger,
  &.active {
    background-color: var(--neutral-700);
    outline: 1px solid var(--neutral-600);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--neutral-700);
    outline: 2px solid var(--neutral-0);
    outline-offset: 3px;
  }

  &:disabled {
    cursor: default;
  }
}

.dropdown {
  background-color: var(--neutral-800);
  border-radius: var(--radius-12);
  outline: 1px solid var(--neutral-700);
  padding: var(--spacing-100);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  width: 100%;
}

.dropdown-item-group-header {
  padding-left: var(--spacing-100);
}

.divider {
  height: 1px;
  border: none;
  border-top: 1px solid var(--neutral-600);
}

.units-button {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  padding-left: 16px;
}

.hourly-forecast {
  margin-top: var(--spacing-400);
  background-color: var(--neutral-800);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  width: 100%;
  border-radius: var(--radius-20);
  padding: var(--spacing-250) var(--spacing-200);
  overflow-y: auto;
  height: 686px;
}

.hourly-forecast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hourly-forecast-item {
  background-color: var(--neutral-700);
  border-radius: var(--radius-8);
  outline: 1px solid var(--neutral-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-150);
  padding-top: var(--spacing-125);
  padding-bottom: var(--spacing-125);
  padding-right: var(--spacing-200);
}

.hourly-forecast-item-row-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.weather-info-container {
  margin-top: var(--spacing-400);
  width: 100%;
  /* max-width: 800px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-400);
}

.weather-info-location-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.weather-info {
  height: 286px;
  background-image: url('/weather/assets/images/bg-today-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 286px;
  border-radius: var(--radius-20);
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
  flex-wrap: wrap; */
  gap: var(--spacing-200);
}

.weather-detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--spacing-300);
  background-color: var(--neutral-800);
  outline: 1px solid var(--neutral-600);
  border-radius: var(--radius-12);
  padding-top: var(--spacing-250);
  padding-bottom: var(--spacing-250);
  padding-left: var(--spacing-250);
}

.weather-detail-label {
  color: var(--neutral-200);
}

.weather-info-date {
  opacity: 80%;
}

.weather-info-temperature-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.daily-forecast-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
  width: 100%;
}

.daily-forecast-days-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-200);
  width: 100%;
}

.daily-forecast-day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
  background-color: var(--neutral-800);
  padding: var(--spacing-200) var(--spacing-125);
  border-radius: var(--radius-12);
  outline: 1px solid var(--neutral-600);
}

.daily-forecast-day-temp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

@media screen and (min-width: 768px) {
  :host {
    padding-top: var(--spacing-300);
    padding-left: var(--spacing-300);
    padding-right: var(--spacing-300);
    padding-bottom: var(--spacing-1000);
  }

  .header {
    height: 43px;
  }

  .headline {
    width: 482px;
  }

  .search {
    flex-direction: row;
    gap: var(--spacing-200);
  }

  .weather-info {
    background-image: url('/weather/assets/images/bg-today-large.svg');
    flex-direction: row;
    justify-content: space-between;
  }

  .weather-info-location-container {
    align-items: flex-start;
  }

  .weather-info-temperature-container {
    gap: var(--spacing-250);
  }

  .weather-details-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .daily-forecast-days-container {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  :host {
    padding-top: var(--spacing-600);
    padding-left: var(--spacing-1400);
    padding-right: var(--spacing-1400);
    padding-bottom: var(--spacing-1000);
  }

  .header {
    height: 43px;
  }

  .headline {
    width: 100%;
  }

  .search {
    width: 656px;
  }

  .weather-info-container {
    margin-top: unset;
    gap: var(--spacing-400);
  }

  .weather-container {
    display: flex;
    gap: var(--spacing-400);
    width: 100%;
  }

  .hourly-forecast {
    margin-top: 26px;
  }
}
